google-generativeai==0.8.3
python-dotenv==1.0.1
langgraph>=0.1.5
langchain-core>=0.3.2
requests==2.32.3
fastapi==0.115.2
uvicorn==0.30.3
pinecone
sentence-transformers==2.2.2
huggingface-hub==0.17.3
faiss-cpu==1.7.4  
